numpy==1.22.2
scikit-learn==1.0.2
scipy==1.8.0
tensorboard==2.8.0
tokenizers==0.11.5
torch==1.11.0 --extra-index-url https://download.pytorch.org/whl/cu113
transformers==4.18.0
tqdm==4.62.3
pandas==1.4.1
